.post-password-form{
	text-align: center;
	margin-top:100px;
	input[type='password']:before{
		content:"\a";
	}
	input[type="submit"]{
		background-color: $green;
		color:#fff;
		margin-top: 20px;
	}
}