.checkbox_label{
	display:inline;
}
.cpt_input{
	margin-bottom:20px;
}
.cpt_supports {
	margin-bottom:60px;
}
#cpt .pwd_admin-card input[type='text']{
	width:100%;
}
.checkbox_label{
	display:inline;
}
.cpt_input{
	margin-bottom:20px;
}
.cpt_supports {
	margin-bottom:60px;
}
.cpt_card{
	position:relative;
}
#cpt .pwd_admin-card input[type='text']{
	width:100%;
}
.cpt_delete{
	margin:20px;
	background:#ddd;
	padding-bottom:20px;
}
.dashicon-selections{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#fff;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
	overflow-y:scroll;
	}
	a.dashicon-select-btn{
		display:inline-block;
		color:#222;
		text-decoration:none;
		border-radius:5px;
		padding:10px;
		border:1px solid transparent;
		&:hover, &.is-active{
			border:1px solid #222;
		}
	}