//still needs to be linked in style.scss
.landing {
	height:100vh;
	width:100%;
  background-color: $grey;
  display: table;
  position: relative;

  .landing-content {
    display: table-cell;
    vertical-align: middle;
  }
}
//footer ------------------
footer{

}
.footer{
	height: 5rem;
	background: #ddd;
}

.sub-footer {
	height:5rem;
	background:#aaa;
}
.footer-coming-soon{
		position:absolute;
	width:100%;
	bottom:0;
  left: 0;
}
#ninja_forms_form_1_all_fields_wrap {
  padding-top:2rem;
}
.field-wrap:not(:last-child){
  display: inline-block;
  input{
    height: 3.5rem;
    &:focus {
      outline: none;
      border: 1px solid $accent;
    }
  }
}
#ninja_forms_field_8_div_wrap {
  margin-right: 1rem;
}
#ninja_forms_field_9_div_wrap {
  margin-left: 1rem;
}

.ninja-forms-required-items {
  display: none;
}

.ninja-forms-req-symbol {
  color: $accent !important;
}