.pwd_admin-card, .video-wrapper{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding:30px;
	margin-top:10px;
	margin-bottom:10px;
	position:relative;
	.submit{
		position:absolute;
		bottom:0;
		right:0;
		width:100%;
	}
	.image-uploader-div{
		position:absolute;
		bottom:60px;
		right:0;
		width:100%;
	}
}
.login-logo-card img{
	max-height:200px;
	width:auto;
}
.pwd_admin-card{
min-height: 500px;
}
#favicon-image{
	margin-top:50px;
}
.video-sizing {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-sizing iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.image-size-card{
	height: 400px;
}
#custom-css-field{
	height:400px;
	width:100%;
	margin-bottom:40px;
}
.cpt_delete_section{
	min-height:0;
}