 // Variables for colors etc -----------------------------

$white: #fff;
$black: #222;
$grey: #ddd;
$pwddark: #133c64;
$pwdlight: #1379be;
// Font Colors -------------------------------------------

$font-color: #000;
$accent:	#ddd;

// Anchor Variables --------------------------------------

$links:  $accent;
$links-hover:$black;

// Navigation --------------------------------------------

$menu-links: #fff;
$menu-links-hover: #fff;
$dropdown-links: #7d7d7d;
$dropdown-links-hover: #444;

// Typography Variables ----------------------------------

$body-font: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: "Roboto Condensed","Helvetica Neue", Helvetica, Arial, sans-serif;
$blockquote-font: serif;

//html elements  -----------------------------------------

$hr-color: #E1E1E1;

//buttons-------------------------------------------------
